<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="/fragments/layout :: head (title=#{guestbook.title_new_entry})">
<title>zeros+ones Guestebook - Create Entry</title>
</head>

<body>

<div class="guestbook_content">

<div id="guestbook_title_panel" th:include="/fragments/layout :: title (title=#{guestbook.header_new_entry})">
<h1 id="guestbook_title_text">zeros+ones Guestbook - Create Entry</h1>
</div>

<form method="post" role="form" class="guestbook_form" id="form" th:action="@{/new}" th:object="${form}">
    <div class="guestbook_form_group">
        <label for="name" th:text="#{guestbook.form_author}">Author</label><br />
        <input class="guestbook_form_textfield" type="text" th:field="*{author}" th:errorclass="fieldError" required="required" /><br />
    </div>
    <div class="guestbook_form_group">
        <label for="text" th:text="#{guestbook.form_comment}">Comment</label><br />
        <textarea class="guestbook_form_textarea" th:field="*{comment}" th:errorclass="fieldError" required="required"></textarea><br />
    </div>
    <hr/>
    <div class="guestbook_form_buttons">
        <input type="submit" class="guestbook_form_buttonsubmit btn btn-default" th:value="#{guestbook.form_submit}" value="Save" />
    </div>
    <div style="clear: both;"></div>
</form>

</div>

</body>
</html>
