body {
	margin: 24pt;
	font-family: 'Vollkorn', serif;
}

.guestbook_content {
	width: 70em;
    margin-right: auto;
    margin-left: auto;
}

#guestbook_title_image {
    float: left;
}

#guestbook_title_panel {
	height: 192px;
	padding: 4pt;
	margin-bottom: 2em;
    background-color: #ffffff;
    border: 2px solid #999999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

#guestbook_title_text {

}

.guestbook_panel {
    padding: 4pt;
    background-color: #fff8d2;
    border: 2px solid #999999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

.guestbook_panel_body > footer {
    float: right;
    font-size: 90%;
}

.guestbook_existing {
    padding: 4pt;
    background-color: #fff8d2;
    border: 2px solid #999999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

#guestbook_entries {
	margin-right: auto;
	margin-left: auto;
	width: 50%;
}

.guestbook_form {
    padding: 4pt;
	margin-right: auto;
    margin-left: auto;
    width: 50%;
    background-color: #fff8d2;
    border: 2px solid #999999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

.guestbook_form_textfield {
	width: 100%;
}

.guestbook_form_textarea {
    width: 100%;
}

.guestbook_form_buttonsubmit {
    float: right;
}

.guestbook_form_buttons {
}

#guestbook_nav {
	margin-top: 2em;
    margin-bottom: 1em;
}

#guestbook_nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#guestbook_nav ul li {
	display: inline;
}

#guestbook_nav ul li a {
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
}

#navcontainer ul li a:hover {
    color: #fff;
    background-color: #369;
}

.button-active {
    background-color: #036;
}

.button-disabled {
	text-color: gray;
    pointer-events: none;
    cursor: default;
    background-color: #b1b1b1;
}
